<div class="container">
  <h1 class="banner">airbnb jr</h1>

  <form class="signup" action="/signup" method="post">
    <label>Email:<br><input name="email" type="text"></label>
    <label>Password:<br><input name="password" type="text"></label>
    <br><input type="submit" value="Sign Up">
  </form>

  <form class="login" action="/signup" method="post">
    <label>Email:<br><input name="email" type="text"></label>
    <label>Password:<br><input name="password" type="text"></label>
    <br><input type="submit" value="Login">
  </form>

</div>
