<div class="container">
  <h1 class="banner">airbnb jr</h1>

  <form class="signup" action="/user/signup" method="post">
    <label>Email:<br><input name="email" type="text" requried></label>
    <label>Password:<br><input name="password" type="text" required></label>
    <br><input type="submit" value="Sign Up">
  </form>

  <form class="login" action="/user/login" method="post">
    <label>Email:<br><input name="email" type="text" required></label>
    <label>Password:<br><input name="password" type="text" required></label>
    <br><input type="submit" value="Login">
  </form>

  <div class="controls">
    <a class="create" href="/property/create">List Your Property</a>
    <form class="create">
      <label>Name:<br><input name="name" type="text" requried></label>
      <label>Rate:<br><input name="name" type="integer" requried></label>
      <label>Capacity:<br><input name="name" type="integer" requried></label>
      <label>Address:<br><input name="name" type="text" requried></label>
      <label>Tags:<br><input name="name" type="text"></label>
      <br><input type="submit" value="Login">
    </form>

    <form class="search">
      <label>Tags: <input name="tags" type="text"></label>
      <input type="submit" value="Filter">
      <input type="submit" value="Your Properties">
    </form>
  </div>

</div>
