<div class="container">
  <h1>airbnb jr</h1>

  <form class="signup">
    <label>Email:<br><input name="email" type="text"></label>
    <label>Password:<br><input name="password" type="text"></label>
    <label>Re-enter Password:<br><input name="password_confirm" type="text"></label>
    <input type="submit" value="Sign Up">
  </form>

  <form class="login">
    <label>Email:<br><input name="email" type="text"></label>
    <label>Password:<br><input name="password" type="text"></label>
    <input type="submit" value="Login">
  </form>

</div>
